nette:
	application:
		mapping:
			*: IPubTests\Phone\*Presenter

services:
	# Test presenter
	presenters.test:
		class: IPubTests\Phone\TestPresenter

	router: IPubTests\Phone\Libs\RouterFactory::createRouter
